<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funny Game</title>
    <link rel="stylesheet" href="../demo.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
    <div class="titleDemo">
    <h1>Funny Game!</h1>
    <h3>How do you know about wan-ning?</h3>
    </div>
    
    <div id="startName">
    <form action="./test" method="GET">
   <h3>Please type your name:<input type="text" name="name" placeholder="Your name(中文或英文)"></h3><br>
    <div id="inputeName">  <input type="submit" value="Game Start" ></div>
  
  </form> </div>

 
</body>
</html>